/* Header layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: #89acee;
    border-bottom: 5px solid #ccc;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Logo text */
.logo {
    margin: 0;
    font-size: 28px;
    margin-left: 150px; 
}

/* Navigation list */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    padding-right: 100px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 5px;
}

/* Hover effect */
.nav-links a:hover {
    background-color: #0e5ec7;
}

/* Circle image from before */
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

.content {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;  
}

.home {
    flex: 0.5;
    display: flex;
    flex-direction: column;  
    align-items: center;       
    gap: 10px;
    padding-left: 100px;
}

/* Right text column */
.rightHome {
    flex: 2;
    font-size: 20px;
    padding-right: 100px;
    padding-left: 50px;
}

.profile {
    display: flex;
    flex-direction: column;   
    align-items: center;    
    text-align: center;    
    gap: 10px;                
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.email-img {
    width: 52px;
    height: auto; 
}

.linkedIn-img {
    width: 60px;
    height: auto;  
}

.CHROME-img {
    width: 80px;
    height: auto;   
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;      
    gap: 20px;      
    flex-wrap: wrap;  
}

#projects {
    padding: 10px 10px;
    background-color: #e2e2e2;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    gap: 30px;        
    margin-top: 40px;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 1000px;
    padding: 20px;
    text-align: left;
    font-size: 18px;
}

.img-wrapper {
    display: flex;
    justify-content: center; 
    margin-bottom: 5px;     
    padding: 5px;
    border-radius: 8px;
}

.project-card img {
    width: auto;             
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    padding: 20px;
}

.project-card h3 {
    margin: 15px 0 10px;
    text-align: center; 
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #b4dbf7cb;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}

.project-card a:hover {
    background-color: #005fa3;
}


#publications {
    padding: 10px 10px;
    background-color: #ffffff; 
    text-align: center;
}

.publications-container {
    display: flex;
    flex-direction: column;  
    align-items: center;    
    gap: 10px;     
    margin-top: 10px;
}

.publications-card {
    background-color: #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 1000px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.publications-card img {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    padding: 20px;
}

.publications-card h1 {
    margin: 15px 0 10px;
    text-align: center;
}
.publications-card h3 {
    margin: 15px 0 10px;
    text-align: left;
}

.publications-card a {
    display: inline-block;
    margin: 0px;
    padding: 8px 15px;
    background-color: #b4dbf7cb;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.publications-card a.paper-link {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 8px 15px;
    background-color: #b4dbf7cb;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.publications-card a:hover {
    background-color: #005fa3;
}

.publications-card p {
    text-align: left;
    margin-top: 10px; 
}

.responsive-video {
    width: auto;       
    height: 300px;      
    border-radius: 8px; 
}

.no-radius {
    border-radius: 0;
}